/* 
Last Author: K1llf0rce
Date: 06.06.2021
*/

#mainCanvas  {
    display: block;
    border: solid white;
    background-color: grey;
    margin: 0 auto;
    width: 1600px;
    height: 960px;
}

#gameInfoBar  {
    border: solid white;
    background-color: grey;
    left: 50%;
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    width: 20em;
    margin: 0 auto;
    margin-top: 10px;
    position: absolute;
    text-align: center;
}

#playerScoreOut {
    font-size: 50px;
}

#spaceship, #bullet1, #enemy, #shield, #coin {
    display: none;
}

#gameContainer{
    margin: 0 auto;
    width: 120em;
    position: relative, fixed;
    transform: scale(1); 
    transform-origin : top center;
}

#gameScreen {
    display: none;
    margin: 0 auto;
    opacity: 0.85;
    background-color: black;
    position: absolute;
    width: 1580px;
    height: 940px;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

#buttonContainer {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#gameButtonResume {
    border: solid white;
    border-radius: 10px;
    font-size: 70px;
    width: 400px;
    color: white;
    background-color: #ffffff00;
    margin: 20px;
    transition: ease-in 250ms;
}

#gameButtonExit {
    border: solid white;
    border-radius: 10px;
    font-size: 70px;
    width: 400px;
    color: white;
    background-color: #ffffff00;
    margin: 20px;
    transition: ease-in 250ms;
}

#gameButtonResume:hover {
    border-radius: 30px;
    border-color: greenyellow;
    color: greenyellow;
    transition: 50ms;
}

#gameButtonExit:hover {
    border-radius: 30px;
    border-color:greenyellow;
    color: greenyellow;
    transition: 50ms;
}