/*
use for game pls
*/

#mainCanvas  {
    display: inline;
    border: solid white;
    width: 100%;
    height: 100%;
    background-color: aqua;
}

#canvas-container {
    text-align: center;
    padding: 50px;
}

#spaceship {
    display: none;
}