/* 
Last Author: K1llf0rce
Date: 09.05.2021

!TEMPORARY FOR DEV WORK AND EASE OF USE!

*/

body {
    background-image: url(../img/codebackground.gif);
    background-size: cover;
    background-color: green;
    margin: 0;
    padding: 0;
}

#mainContainer {
    width: 60em;
    border: solid black;
    background-color: grey;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
}