/* 
Last Author: K1llf0rce
Date: 01.04.2021
*/

body {
    background-color: black;
}

#container {
    width: 120em;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 170px 400px 400px 400px 500px;
    grid-row-gap: 2px;
    grid-template-areas:
        ". head head head ."
        "sec sec sec sec sec"
        "sec sec sec sec sec"
        "sec sec sec sec sec"
        "aside aside aside aside aside";
}

#fullbackground {
    background-image: url();
    background-repeat: no-repeat;
}

header {
    grid-area: head;
    background-color: #3b444b;
    border-width: 6px;
    border: solid;
    border-radius: 15px;
    font-size: 2.2em;
    padding-bottom: 1em;
    border-color: white;
    text-align: center;
    color: white;
    font-family: Georgia, cursive;
    text-shadow: 8px 8px 16px #000000;
}

#section {
    grid-area: sec;
    border-width: 10px;
    border: solid;
    border-color: black;
    border-radius: 15px;
}

#aside {
    grid-area: aside;
    border: solid;
    border-color: black;
    border-radius: 15px;
    background-color: #ad2828;
    padding: 1.7em;
    color: #aab7b8;
}